ul {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
    overflow: hidden;
    background-color:green;
    width: 550px;
  }
  
  li {
    float: left;
    padding-left: 3px;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    color: yellow;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: green;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }